
html,body{margin:0;padding:0;overflow:hidden}
.hidden{display:none}

#pregame{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}
#chat{position:fixed;bottom:0;left:0;right:0;height:150px;overflow:scroll;padding:0 1em}